@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

:root {
  --color-primary: #007bb5;
  --color-primary-light: #82d7ff;
  --color-danger: #F44336;
  --color-white: #ffffff;
  --color-gray: #929292;
  --color-gray-light: #e0e0e0;
  --color-gray-lightest: #f0f0f0;
  --font-family: "Open Sans", sans-serif;
  --box-shadow: 0 0 12px rgba(0, 0, 0, 0.05);
}
html {
  height: 100%;
  font-family: var(--font-family);
}
*,
*::before,
*::after {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  box-sizing: inherit;
  outline: none;
  user-select: inherit;
}
body,
input,
button {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--font-family);
  text-size-adjust: none;
  user-select: text;
}
body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 1.4;
  color: #444444;
  height: 100%;
  background-color: #f0f0f0;
}
.table .tr {
  display: flex;
}
.table .td {
  display: flex;
  align-items: center;
  flex: 1;
  padding: 0 12px;
  font-size: 13px;
  height: 48px;
  background-color: #ffffff;
  border-top: 1px solid var(--color-gray-light);
}
.table .thead .td {
  height: 32px;
  text-transform: uppercase;
  font-size: 12px;
  color: #999999;
  background-color: #f5f5f5;
  border-top: none;
}
.table .thead .td a {
  color: inherit;
  position: relative;
}
.table .thead .td a::before,
.table .thead .td a::after {
  content: "";
  position: absolute;
  border-style: solid;
  border-color: #dcdcdc;
  border-width: 1px 1px 0 0;
  width: 4px;
  height: 4px;
  right: -8px;
  top: 50%;
}
.table .thead .td a::before {
  transform: rotate(-45deg);
  margin-top: -4px;
}
.table .thead .td a::after {
  transform: rotate(135deg);
  margin-top: -1px;
}
.table .thead .td a.active {
  color: #222222;
  font-weight: 600;
}
.table .thead .td a.active[href*=asc]::before {
  border-color: #222222;
}
.table .thead .td a.active:not([href*=asc])::after {
  border-color: #222222;
}
a, .link {
  color: var(--color-primary);
  text-decoration: none;
  cursor: pointer;
}
a:hover, .link:hover {
  opacity: 0.6;
}
a:target {
  color: #444444;
}
hr {
  border-top: 1px solid var(--color-gray-light);
  border-bottom: none;
  border-left: none;
  border-right: none;
  margin: 24px 0;
}
label {
  position: relative;
  display: block;
  width: 100%;
}
.label {
  display: block;
  font-size: 11px;
  text-transform: uppercase;
  color: var(--color-gray);
  line-height: 12px;
  font-weight: 600;
  margin-bottom: 4px;
  white-space: nowrap;
}
input,
textarea,
select {
  font-size: 14px;
  font-family: inherit;
  color: #444444;
  line-height: 1.4;
  display: block;
  width: 100%;
  padding: 8px 12px;
  outline: none;
  border: 1px solid var(--color-gray-light);
  background-color: var(--color-white);
  border-radius: 4px;
  box-shadow: none;
  transition: box-shadow .2s;
}
input:hover:not(:focus):not([disabled]),
textarea:hover:not(:focus):not([disabled]) {
  background-color: var(--color-gray-lightest);
}
input:focus,
textarea:focus {
  border-color: var(--color-primary);
  box-shadow: 0 0 0 2px var(--color-primary-light);
}
input[disabled],
textarea[disabled] {
  border-color: var(--color-gray-lightest);
  background-color: var(--color-gray-lightest);
}
label[data-error]::after {
  content: attr(data-error);
  position: absolute;
  left: 100%;
  width: 100%;
  top: 0;
  margin-left: 4px;
  font-size: 12px;
  color: var(--color-danger);
  display: flex;
  align-items: center;
}
label[data-error] .label {
  color: var(--color-danger);
}
label[data-error] input,
label[data-error] textarea,
label[data-error] select {
  border-color: var(--color-danger);
}
header {
  display: flex;
  background-color: var(--color-white);
  box-shadow: var(--box-shadow);
}
header .logo {
  display: flex;
  align-items: center;
  padding: 0 16px;
  background-color: #dcdcdc;
  color: inherit;
  font-weight: 600;
  text-shadow: 0 1px 0 #fff;
}
header nav {
  display: flex;
  height: 50px;
  padding: 0 16px;
}
header nav a {
  display: flex;
  padding: 0 12px;
  align-items: center;
}
.button {
  font-size: 14px;
  font-weight: 400;
  color: #444444;
  line-height: 1.4;
  font-family: inherit;
  box-sizing: border-box;
  border: 1px solid var(--color-gray-light);
  background-color: var(--color-white);
  border-radius: 4px;
  display: flex;
  height: 40px;
  align-items: center;
  padding: 0 16px;
  cursor: pointer;
  transition: background-color 0.25s, border-color 0.25s;
  outline: none;
  text-align: center;
  user-select: none;
}
.button:not([disabled]):hover {
  background-color: var(--color-gray-lightest);
}
.button:not([disabled]):active {
  border-color: var(--color-gray-light);
  background-color: var(--color-gray-light);
  box-shadow: none;
}
.button:not([disabled]):focus {
  border-color: var(--color-primary);
  box-shadow: 0 0 0 2px #CDF1FA;
}
.button.primary {
  background-color: var(--color-primary);
  color: var(--color-white);
  border: none;
}
.button.primary:not([disabled]):hover {
  opacity: 0.9;
}
.button.primary:not([disabled]):activee {
  opacity: 0.95;
}
.button.primary:not([disabled]):focus {
  opacity: 0.95;
  box-shadow: 0 0 0 2px var(--color-primary-light);
}
.button[disabled] {
  background-color: #e0e0e0;
  border-color: #e0e0e0;
  cursor: default;
}
.button[disabled]:hover {
  opacity: 1;
}
.container {
  width: 100%;
  max-width: 960px;
  padding-left: 16px;
  padding-right: 16px;
  margin-right: auto;
  margin-left: auto;
}
.page {
  display: flex;
  flex-direction: column;
  overflow: auto;
  flex: 1;
  padding: 24px 0;
}
.page-title {
  font-size: 16px;
  font-weight: 600;
}
.loading {
  position: relative;
  width: 100%;
  min-height: 64px;
}
.loading::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 32px;
  height: 32px;
  border-radius: 16px;
  border-style: solid;
  border-width: 2px;
  border-color: var(--color-primary-light) var(--color-primary-light) transparent;
  animation: loading .6s infinite linear;
}
.notifications {
  position: fixed;
  top: 16px;
  right: 16px;
  width: 320px;
}
.notifications .notification {
  position: relative;
  background-color: #fff;
  padding: 16px;
  border-radius: 4px;
  font-size: 14px;
  margin-top: 8px;
  min-height: 48px;
  box-shadow: 0 0 8px 0 rgba(0,0,0,0.15);
  animation: toastrAnimation 0.25s;
  transition: margin-top 0.25s, opacity 0.25s, height 0.25s;
}
.notifications .notification::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 1px;
  background-color: var(--color-primary);
  animation: progress 3s forwards;
}
@keyframes progress {
  to {
    width: 100%;
  }
}
.notifications .notification .title {
  font-weight: 600;
  margin-right: 24px;
}
.notifications .notification .message {
  margin-top: 8px;
  font-size: 13px;
  line-height: 1.2;
}
.notifications .notification .close {
  position: absolute;
  top: 11px;
  right: 11px;
  cursor: pointer;
  transition: background-color 0.25s;
  border-radius: 50%;
  font-size: 24px;
  line-height: 1;
  height: 24px;
  width: 24px;
  text-align: center;
}
.notifications .notification .close:hover {
  background-color: #e0e0e0;
}
.table .actions {
  opacity: 0;
  transition: opacity .15s;
  text-align: right;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
}
.table .tr .actions .action {
  margin-left: 8px;
}
.table .tr .actions .action.link {
  color: var(--color-danger);
}
.table .tr:hover .actions {
  opacity: 1;
}
.user-list .table .td:nth-child(1),
.user-list .table .td:nth-child(2) {
  width: 140px;
  flex: none;
}
.user-list .table .td:nth-child(3) {
  width: 160px;
  flex: none;
}
.user-list .table .td:nth-child(5) {
  width: 120px;
  justify-content: flex-end;
  flex: none;
}
.companies-list .table .td:nth-child(1),
.companies-list .table .td:nth-child(2),
.companies-list .table .td:nth-child(3) {
  width: 160px;
  flex: none;
}
.companies-list .table .td:nth-child(5) {
  width: 120px;
  justify-content: flex-end;
  flex: none;
}
@keyframes toastrAnimation {
  from {
    transform: translate(100%, 0);
  }
}

@keyframes loading {
  to {
    transform: rotate(360deg);
  }
}
#app {
  flex: 1;
}
@media (hover: hover) {
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.3);
  }
}
.dialog {
  font-family: var(--font-family);
  font-size: 14px;
  line-height: 24px;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0);
  display: none;
}
.dialog-window {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 50%;
  top: 50%;
  background-color: #fff;
  border-radius: 6px;
  width: 360px;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.15);
  max-height: 100%;
  opacity: 0;
  transform: translate3d(-50%, -100%, 0);
  animation: dialogWindowAnimation 0.25s forwards;
}
.dialog-header {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 64px;
  padding: 0 48px 0 24px;
}
.dialog-title {
  font-weight: 600;
  font-size: 18px;
}
.dialog-close {
  position: absolute;
  cursor: pointer;
  top: 0;
  right: 0;
  width: 72px;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.75;
  font-size: 24px;
}
.dialog-close:hover {
  opacity: 1;
}
.dialog-content {
  padding: 8px 24px;
  height: 100%;
  overflow: auto;
}
.dialog-actions {
  padding: 8px 24px 16px;
  display: flex;
  justify-content: flex-end;
}
.dialog-actions .button {
  margin-left: 8px;
}
.dialog.showed {
  display: block;
  animation: dialogBgAnimation 0.25s forwards;
}
.dialog.showed .dialog-window {
  animation: dialogWindowAnimation 0.25s forwards;
}
.pagination {
  display: flex;
}
.pagination .button {
  margin-right: 8px;
  width: 40px;
  padding: 0;
  justify-content: center;
}
.pagination .button:first-child,
.pagination .button:last-child {
  width: 54px;
}
.pagination .prev,
.pagination .next {
  font-family: monospace;
}
@keyframes dialogBgAnimation {
  to {
    background-color: rgba(255, 255, 255, 0.75);
  }
}
@keyframes dialogWindowAnimation {
  to {
    opacity: 1;
    transform: translate3d(-50%, -50%, 0);
  }
}
.u-row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -8px;
  margin-right: -8px;
}
.u-row [class*="u-col"] {
  padding-left: 8px;
  padding-right: 8px;
}
.u-col {
  flex: 1;
}
.u-col-1 {
  flex-basis: 8.33333333%;
  max-width: 8.33333333%
}
.u-col-2 {
  flex-basis: 16.66666667%;
  max-width: 16.66666667%
}
.u-col-3 {
  flex-basis: 25%;
  max-width: 25%
}
.u-col-4 {
  flex-basis: 33.33333333%;
  max-width: 33.33333333%
}
.u-col-5 {
  flex-basis: 41.66666667%;
  max-width: 41.66666667%
}
.u-col-6 {
  flex-basis: 50%;
  max-width: 50%
}
.u-col-7 {
  flex-basis: 58.33333333%;
  max-width: 58.33333333%
}
.u-col-8 {
  flex-basis: 66.66666667%;
  max-width: 66.66666667%
}
.u-col-9 {
  flex-basis: 75%;
  max-width: 75%
}
.u-col-10 {
  flex-basis: 83.33333333%;
  max-width: 83.33333333%
}
.u-col-11 {
  flex-basis: 91.66666667%;
  max-width: 91.66666667%
}
.u-col-12 {
  flex-basis: 100%;
  max-width: 100%
}

.u-flex {
  display: flex;
  align-items: center;
}
.u-mr {
  margin-right: 16px;
}
.u-mt {
  margin-top: 16px;
}
.u-mb {
  margin-bottom: 16px;
}
.u-mb-l {
  margin-bottom: 24px;
}
.u-flex-centered-y {
  display: flex;
  align-items: center;
}